-# -*- coding: utf-8 -*-

%link(rel="stylesheet"
      href="/assets/application.css")

.topbar
  .topbar-inner
    .container
      %ul.nav
        %a(href="/")
          Home
      %ul.nav.secondary-nav
        %li
          %div#save-indicator
            Saved
        %li.dropdown
          %a.dropdown-toggle(href="#")
            %span(style="visibility:hidden;")
              M
          %ul.dropdown-menu
            %li
              %a(href="/page/slides/#{@title}"
                 target="_blank")
                Slides

.container
  %h1
    = @title
  #list

%script(type="text/javascript"
        src="/assets/list_app.js")
%script(type="text/javascript"
        src="/assets/libs/bootstrap-dropdown.js")

:javascript
  $(function() {
    application.main("#{@title}");
  });
  $('.topbar').dropdown()
