-# -*- coding: utf-8 -*-

%link(rel="stylesheet"
      href="/assets/slides.css")


%script(type="text/javascript"
        src="/assets/slides_app.js")

:javascript
  $(function() {
    application.main("#{@title}");
  });
