-# -*- coding: utf-8 -*-

%link(rel="stylesheet"
      href="/assets/deck.core.css")
%link(rel="stylesheet"
      href="/assets/deck-themes/style/swiss.css")
%link(rel="stylesheet"
      href="/assets/deck-themes/transition/horizontal-slide.css")



%script(type="text/javascript"
        src="/assets/slides_app.js")

:javascript
  $(function() {
    application.main("#{@title}");
  });
